<div class="container my-5">
  <table class="table table-striped table-bordered table-hover" *ngIf="products">
    <thead class="thead-dark">
    <tr>
      <th scope="col"><i class="bi bi-hash"></i> ID</th>
      <th scope="col"><i class="bi bi-card-list"></i> Name</th>
      <th scope="col"><i class="bi bi-cash"></i> Price</th>
      <th scope="col"><i class="bi bi-box"></i> Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products._embedded.products">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.price | currency:'USD':'symbol':'1.2-2'}}</td>
      <td>{{p.quantity}}</td>
    </tr>
    </tbody>
  </table>
</div>
