<div class="container my-5">
  <table class="table table-striped table-bordered table-hover" *ngIf="customers">
    <thead class="thead-dark">
    <tr>
      <th scope="col"><i class="bi bi-hash"></i> ID</th>
      <th scope="col"><i class="bi bi-person"></i> Name</th>
      <th scope="col"><i class="bi bi-envelope"></i> Email</th>
      <th scope="col"><i class="bi bi-bag-plus"></i> Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customers._embedded.customers">
      <td>{{c.id}}</td>
      <td>{{c.name}}</td>
      <td>{{c.email}}</td>
      <td>
        <button class="btn btn-success" (click)="getOrders(c)">
          <i class="bi bi-cart-plus"></i> Orders
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
